@import "imports/aek-css-config";

// additional styles below
.ui.listview.menu.uniform >.item .label {
  font-weight: bold !important;
  background: #767676 !important;
  color: #FFF !important;
  width:auto !important;
}
.ui.listview.menu.uniform >.item .label:after {
  content: ": ";
}

@media (max-width: 370px) {
  .ui.icon.message > .content {
   display: table-cell;
  }
}

.ui.menu.tns-grade {
  background-color: #767676;
  .detail{
    color: #FFF;
  }
}

.blurb {
  background-color: #767676;
  color: #FFF;
  padding: 1%;
}

.ui.info.message.no-grade {
    background-color: #f2f2f2;
    color: #000;
      box-shadow: 0px 0px 0px 1px #d4d4d4 inset, 0px 1px 2px 0 rgba(0,0,0,0.05);
}
